#home { background-color: #97f0c2;}
#javascripts { background-color: #97f0c2;}
#nav-table {margin-left: auto; 
    margin-right: auto; 
    align-items: center; 
    width: 800px; 
    background-color: rgb(133, 175, 70);}
#nav-td {width: 266.666px; 
    text-align: center ;}
#btn {box-shadow: 0 0 10px black}
h1 { color: rgb(133, 175, 70);}
h1 {text-align: center;}
p {margin-left: 20%; margin-right: 20%; text-align: center;}
#aboutme {background-image: url(myBackground.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}
#img-1 {
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    }
#seguin {
        width: 200px;
        float: right;
        margin-left: 10px;
        margin-right: 10px;
    }
#ullmark {
        width: 200px;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        margin-top: 10px;
        }
#ferrari {
        width: 200px;
        float: right;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        margin-top: 10px;
        }